{% extends "base.html" %} 
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
  <link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock %}

{% block title %}
  {{ month|title }}'s Challenge
{% endblock %} 

{% block content %}
  {% include "challenges/includes/header.html" %}
  <h1>{{ month|title }}'s challenge</h1>
  {% if challenge %}
    <h2>{{ challenge }}</h2>
  {% else %}
    <p class="fallback">No challenge available for this month.</p>
  {% endif %} 
{% endblock %}
